<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>net.pixelflut.itunesconnectscreenshotuploader</string>
       <key>Developer Identifier</key>
       <string>R45X49X8UT</string>
       <key>CFBundleVersion</key>
       <string>1.0</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://opensource.pixelflut.net/downloads/itunesconnect-screenshot-uploader/versions/1_0/itunesconnect-screenshot-uploader.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
